body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .header {
    text-align: center;
    font-size: 36px;
    padding: 20px;
    color: #333;
    background-color: #f8f9fa;
  }
  
  .search-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #007BFF;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .output-format-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .output-format-select:focus {
    outline: none;
    border-color: #28A745;
  }
  
  .search-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
  }
  
  .search-btn:hover {
    background-color: #0056b3;
  }
  
  
